<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test">
    <test name="Test" parallel="false">
        <classes>
            <class name="org.example.MainTest">
                <methods>
                    <include name="moveAroundCatalog"/>
                    <include name="sortingMobileByFilters"/>
                    <include name="sortingMobileByFiltersTask2"/>
                    <include name="chooseTheCheapestMobile"/>
                    <include name="chooseTheCheapestMobileSteam"/>
                    <include name="sortingTabletsBySchemaFilterAndOrderFilterButton"/>
                </methods>
            </class>
            <class name="org.example.LogInTest">
                <methods>
                    <include name="enterIncorrectNickOrPassword"/>
                    <include name="getRegistrationError"/>
                </methods>
            </class>
            <class name="org.example.HouseApartmentTest">
                <methods>
                    <include name="lookForAccommodation"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
