<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="MainTest">
    <test name="MainTest" parallel="false">
        <classes>
            <class name="org.example.MainTest">
                <methods>
                    <include name="moveAroundCatalog"/>
                    <include name="chooseMobile"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
